<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Ano Detection</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="asset/bowsett.ico">
  <link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800" rel="stylesheet">
  <link rel="stylesheet" href="indexstyle.css">
</head>

<body>
<div class="hero-image">

  <div class="hero-text">
    <h1 style="font-size:50px">Future Frame Prediction for Anomaly Detection</h1>
    <h3>Upload list of frames !!! </h3>
	<form method ='post' enctype=multipart/form-data>
		<input type="file" name="file[]" multiple="">
		<input type="submit" value="upload">
  </form>
  </div>

</div>
</body>
</html>
